/* The Waybar style file. */

@define-color rosewater #f2d5cf;
@define-color flamingo #eebebe;
@define-color pink #f4b8e4;
@define-color mauve #ca9ee6;
@define-color red #e78284;
@define-color maroon #ea999c;
@define-color peach #ef9f76;
@define-color yellow #e5c890;
@define-color green #a6d189;
@define-color teal #81c8be;
@define-color sky #99d1db;
@define-color sapphire #85c1dc;
@define-color blue #8caaee;
@define-color lavender #babbf1;
@define-color text #c6d0f5;
@define-color subtext1 #b5bfe2;
@define-color subtext0 #a5adce;
@define-color overlay2 #949cbb;
@define-color overlay1 #838ba7;
@define-color overlay0 #737994;
@define-color surface2 #626880;
@define-color surface1 #51576d;
@define-color surface0 #414559;
@define-color base #303446;
@define-color mantle #292c3c;
@define-color crust #232634;

* {
    font-family: Noto Sans, Symbols Nerd Font;
    font-size: 12px;
}

window#waybar {
    background-color: rgba(35, 38, 52, 0.5);
    border-bottom: 1px solid rgba(100, 114, 125, 0.5);
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

#workspaces button {
    color: @text;
    background-color: transparent;
    border-radius: 8px;
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 0px;
    border: 1px solid @overlay0;
}

#workspaces button:hover {
    background: @overlay0;
    color: @text;
}

#workspaces button.active {
    color: @crust;
    background: @overlay2;
    border-color: @overlay2; 
}

#workspaces button.urgent {
    background-color: @red;
}

#window {
    margin-right: 20px;
    margin-left: 20px;
}

#bluetooth,
#wireplumber,
#backlight,
#battery,
#clock,
#network,
#language,
#idle_inhibitor {
    padding: 0 10px;
    border: 1px solid;
    border-radius: 8px;
}

#bluetooth {
    color: @sapphire;
    border-color: @sapphire;
}

#wireplumber {
    color: @red;
    border-color: @red;
}

#wireplumber.source {
    color: @peach;
    border-color: @peach;
}

#backlight {
    color: @yellow;
    border-color: @yellow;
}

#battery {
    color: @green;
    border-color: @green;
}

#battery.warning:not(.charging) {
    color: @yellow;
    border-color: @yellow;
}

#battery.critical:not(.charging) {
    background-color: @red;
    border-color: @base;
    color: @base;
}

#clock {
    color: @teal;
    border-color: @teal;
}

#clock.calendar {
    color: @blue;
    border-color: @blue;
}

#network {
    color: @mauve;
    border-color: @mauve;
}

#language {
    color: @pink;
    border-color: @pink;
}

#idle_inhibitor {
    color: @text;
    border-color: @text;
}

#idle_inhibitor.activated {
    color: @crust;
    background: @overlay2;
    border-color: @overlay2;
}
