* {
  font-family: "Noto Sans Nerd Font";
  font-size: 20px;
  color: #c6d0f5;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.5);
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background-color: rgba(65, 69, 89, 0.90);
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  padding: 5px 10px 5px 10px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  background-color: #626880;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #e78284;
}

#window, #workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit the left margin. */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit the right margin. */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#backlight, #pulseaudio, #battery, #network, #clock, #custom-weather, #custom-update {
  padding: 5px 10px 5px 10px;
}

#backlight {
  color: #e5c890;
}

#pulseaudio {
  color: #99d1db;
}

#battery {
  color: #a6d189;
}

#battery.twenty:not(.charging) {
  color: yellow;
}

#battery.ten:not(.charging) {
  color: red;
  animation-name: blink;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    opacity: 1;
    opacity: 0;
  }
}

#network {
  color: #ca9ee6;
}

#custom-weather {
  color: #ef9f76;
}

#custom-update {
  color: #e78284;
}
